.gradient(@top:#980606,@bottom:#470303) {
  background-color: @top;
  background-image: -webkit-gradient(linear, left top, left bottom, from(@top), to(@bottom));
  background-image: -webkit-linear-gradient(top, @top, @bottom);
  background-image:    -moz-linear-gradient(top, @top, @bottom);
  background-image:      -o-linear-gradient(top, @top, @bottom);
  background-image:         linear-gradient(to bottom, @top, @bottom);
}

.box-shadow(@shadow: 0 0px 1.7em rgba(0, 0, 0, 0.4) ) {
  -webkit-box-shadow: @shadow;
  -moz-box-shadow: @shadow;
  box-shadow: @shadow;
}

.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

// Text Shadows
.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
	text-shadow: @string;
}

.box-sizing (@sizing:border-box) {
  -moz-box-sizing: @sizing;
       box-sizing: @sizing;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
}

.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
  filter: gray;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%); 
}

.color {
  filter: none;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);  
}

.font-size (@sizeInRem:1rem) {
  font-size: ceil(unit(@sizeInRem, ~"px" ) * 16);
  font-size: @sizeInRem;
}

.clearfix
{
	*zoom:1;

  &:before,&:after
  {
  	display:table;
  	content:"";
  	line-height:0;
  }
  
  &:after
  {
  	clear:both;
  }

}

.transition(@duration:0.2s, @ease:ease-out) {
  -webkit-transition: all @duration @ease;
  -moz-transition: all @duration @ease;
  -o-transition: all @duration @ease;
  transition: all @duration @ease;
}

.no-transition() {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.opacity (@opacity: 0.5) {
	-webkit-opacity: 	@opacity;
	-moz-opacity: 		@opacity;
	opacity: 		@opacity;
}