/*
Theme Name: DonDowneyWork.com
Theme URI: http://DonDowneyWork.com/
Description: DonDowneyWork.com Theme
Version: Beta
Author: CALIPER
Author URI: mailto:eli.s.silverman@gmail.com

*/
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  /* Firefox 10+ */

  filter: gray;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
.color {
  filter: none;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/* Begin Typography & Colors */
.GillSans {
  font-family: "Gill Sans", "Helvetica Neue", Helvetica, Arial, serif;
}
/* Colors */
/* Home Page */
/* Profile Page */
/* Contact Page */
/* Film Page */
/* Poetry Page */
/* Fiction Page */
body {
  font-size: 62.5%;
  /* Resets 1em to 10px */

  background: #fb4023;
  /* 	background: #fb552c url('images/coming-soon.jpg') top center no-repeat; */

  min-width: 1080px;
  color: #333;
  text-align: center;
  font-family: "Gill Sans", "Helvetica Neue", Helvetica, Arial, serif;
}
#page {
  text-align: left;
  background: transparent;
  background-attachment: 200 100;
}
#logo {
  width: 1060px;
  text-align: left;
  margin: 50px auto 40px;
}
#logo a:link,
#logo a:visited,
#logo a:hover {
  text-decoration: none;
  border: none;
}
#navigation {
  width: 1060px;
  margin: auto;
  clear: both;
  font-family: "Gill Sans", "Helvetica Neue", Helvetica, Arial, serif;
  /* 	background:transparent url(images/bg-navigation.jpg) center bottom no-repeat; */

  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 15px;
}
#navigation a:link,
#navigation a:visited,
#navigation a:hover {
  text-decoration: none;
  border-bottom: none;
  color: white;
}
#navigation ul#main {
  font-size: 2em;
  display: block;
  margin: 0;
  padding: 0px;
  /* 	text-shadow: #ccc 0px 1px 0px; */

  /* 	width: 100%; */

  text-align: center;
}
#navigation ul#main li {
  list-style: none;
  /* 	padding: 0px 12px; */

  /* 	margin: 0 40px 0 10px; */

  display: inline;
}
#navigation ul#main li ul li a {
  display: block;
  text-align: left;
  color: #990000;
  text-decoration: none;
  border-bottom: none;
  font-size: 14px;
  padding: 10px 10px 10px 10px;
  background: url(images/bullet.gif) left no-repeat;
}
#navigation ul#main li ul li {
  border-left: 4px solid #000 !important;
  border-right: 4px solid #000 !important;
  float: none !important;
  margin: 0 !important;
  padding: 0 5px !important;
  background: #fff;
}
#navigation ul#main li ul {
  background: url(images/bg-dropdown.png) top left no-repeat;
  display: none;
  padding: 19px 0 0;
  top: 230px;
  border-bottom: none;
  min-width: 180px;
}
#navigation ul#main li:hover ul,
ul#main li.hover ul {
  display: block;
  position: absolute;
  margin: 0;
}
#navigation ul#main li:hover li,
ul#main li.hover li {
  float: none;
}
#navigation ul#main li a:hover {
  color: black;
  text-decoration: none;
}
#navigation ul#sub {
  display: block;
  font-size: 1.2em;
  margin: 0;
  padding: 30px 20px 0 20px;
  text-shadow: #ccc 0px 1px 0px;
  text-transform: uppercase;
}
#navigation ul#sub li {
  list-style: none;
  margin: 0 0 0 18px;
  float: right;
}
#navigation {
  position: relative;
}
#navigation #mini_menu {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 1em;
}
#navigation #mini_menu li {
  list-style-type: none;
  margin: 0px 5px;
  float: left;
  font-size: 1.3em;
  text-transform: uppercase;
}
#content {
  /* 	background:#fff; */

  font-size: 1.6em;
  float: left;
  /* padding: 0px 30px 0px 30px; */

  margin: 20px 0 20px 0;
  width: 100%;
  padding-bottom: 90px;
}
.entry {
  line-height: 1.6em;
}
.thread-alt {
  background-color: #f8f8f8;
}
.thread-even {
  background-color: white;
}
.depth-1 {
  border: 1px solid #ddd;
}
postmetadata .even,
.alt {
  border-left: 1px solid #ddd;
}
small {
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 0.7em;
  line-height: 1.4em;
  text-align: left;
}
h1,
h2,
h3 {
  font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
  font-weight: bold;
}
h1 {
  font-size: 4em;
  text-align: center;
}
h2 {
  font-size: 1.4em;
}
h2.pagetitle {
  font-size: 1.4em;
}
#sidebar h2 {
  font-family: Arial, 'Helvetica', sans-serif;
  margin: 0;
  font-weight: normal;
  color: #666;
  line-height: 1.5em;
}
h3 {
  font-size: 1.3em;
}
h1,
h1 a,
h1 a:hover,
h1 a:visited {
  text-decoration: none;
  color: white;
}
h2,
h2 a,
h2 a:visited,
h3,
h3 a,
h3 a:visited {
  color: #333;
}
h2,
h2 a,
h2 a:hover,
h2 a:visited,
h3,
h3 a,
h3 a:hover,
h3 a:visited,
#sidebar h2,
#wp-calendar caption,
cite {
  text-decoration: none;
  border-bottom: none;
}
.entry p a:visited {
  color: #b85b5a;
}
.sticky {
  background: #f7f7f7;
  padding: 0 10px 10px;
}
.sticky h2 {
  padding-top: 10px;
}
.commentlist li,
#commentform input,
#commentform textarea {
  font: 0.9em 'Lucida Grande', Verdana, Arial, Sans-Serif;
}
.commentlist li ul li {
  font-size: 1em;
}
.commentlist li {
  font-weight: bold;
}
.commentlist li .avatar {
  float: right;
  border: 1px solid #eee;
  padding: 2px;
  background: #fff;
}
.commentlist cite,
.commentlist cite a {
  font-weight: bold;
  font-style: normal;
  font-size: 1.1em;
}
.commentlist p {
  font-weight: normal;
  line-height: 1.5em;
  text-transform: none;
}
#commentform p {
  font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
}
.commentmetadata {
  font-weight: normal;
}
#sidebar {
  font: 1.3em 'Arial', Helvetica, sans-serif;
  line-height: 1.5em;
}
small,
#sidebar ul ul li,
#sidebar ul ol li,
.nocomments,
.postmetadata,
blockquote,
strike {
  color: #777;
  border-bottom: none;
}
code {
  font: 1.1em 'Courier New', Courier, Fixed;
}
acronym,
abbr,
span.caps {
  font-size: 0.9em;
  letter-spacing: .07em;
}
li.current_page_item a {
  color: #999;
  text-decoration: none;
  border-bottom: none;
}
#wp-calendar #prev a,
#wp-calendar #next a {
  font-size: 9pt;
}
#wp-calendar a {
  text-decoration: none;
}
#wp-calendar caption {
  font: bold 1.3em 'Lucida Grande', Verdana, Arial, Sans-Serif;
  text-align: center;
}
#wp-calendar th {
  font-style: normal;
  text-transform: capitalize;
}
/* End Typography & Colors */
/* Begin Structure */
body {
  margin: 0;
  padding: 0;
}
#donate {
  margin-right: 40px;
  top: 0;
  right: 3%;
  position: absolute;
}
#header {
  margin: 0 0 0 1px;
  padding: 0;
  width: 1058px;
}
.post hr {
  display: block;
}
.postmetadata {
  padding-top: 5px;
  clear: both;
}
.clear {
  clear: both;
}
#footer {
  margin: 0;
  text-align: right;
  clear: both;
  background: transparent;
  /* 	Don-downey.com	 */

  padding: 10px 0px 10px 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  min-width: 1060px;
  /* 	Don-downey.com	 */

}
#footer #footer_info {
  text-align: center;
  bottom: 0px;
  color: black;
  letter-spacing: 1px;
}
/* End Structure */
/*	Begin Headers */
h1 {
  padding-top: 70px;
  margin: 0;
}
h2 {
  margin: 20px 0 0;
}
#sidebar h2 {
  margin: 5px 0 0;
  padding: 0;
}
h3 {
  padding: 0;
  margin: 30px 0 0;
}
h3.comments {
  padding: 0;
  margin: 40px auto 20px ;
}
/* End Headers */
/* Begin Images */
p img {
  padding: 0;
  max-width: 100%;
}
/*	Using 'class="alignright"' on an image will (who would've
	thought?!) align the image to the right. And using 'class="centered',
	will of course center the image. This is much better than using
	align="center", being much more futureproof (and valid) */
img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: #666 1px solid;
}
img.alignright {
  padding: 4px;
  margin: 14px 0 7px 14px;
  display: inline;
  border: #666 1px solid;
}
img.alignleft {
  padding: 4px;
  margin: 14px 14px 7px 0;
  border: #666 1px solid;
  display: inline;
}
.alignright {
  float: right;
}
.alignleft {
  float: left;
}
/* End Images */
/* Begin Lists

	Special stylized non-IE bullets
	Do not work in Internet Explorer, which merely default to normal bullets. */
html > body .entry ul {
  margin-left: 0px;
  padding: 0 0 0 30px;
  list-style: none;
  padding-left: 10px;
  text-indent: -10px;
}
html > body .entry li {
  margin: 7px 0 8px 10px;
}
.entry ul li:before,
#sidebar ul ul li:before {
  content: "\00BB \0020";
}
.entry ol {
  padding: 0 0 0 35px;
  margin: 0;
}
.entry ol li {
  margin: 0;
  padding: 0;
}
.postmetadata ul,
.postmetadata li {
  display: inline;
  list-style-type: none;
  list-style-image: none;
}
#sidebar ul,
#sidebar ul ol {
  margin: 0;
  padding: 0;
}
#sidebar ul li {
  list-style-type: none;
  list-style-image: none;
  border-bottom: #ccc 1px solid;
  padding: 20px 0;
  margin-right: 16px;
}
#sidebar ul p,
#sidebar ul select {
  margin: 5px 0 8px;
}
#sidebar ul ul,
#sidebar ul ol {
  margin: 6px 0 0 0;
}
#sidebar ul ul ul,
#sidebar ul ol {
  margin: 0 0 0 10px;
}
ol li,
#sidebar ul ol li {
  list-style: decimal outside;
}
#sidebar ul ul li,
#sidebar ul ol li {
  margin: 0 0 6px;
  padding: 0;
}
/* End Entry Lists */
/* Begin Form Elements */
#searchform {
  margin: 10px auto;
  padding: 5px 3px;
  text-align: center;
}
#sidebar #searchform #s {
  width: 108px;
  padding: 2px;
}
#sidebar #searchsubmit {
  padding: 1px;
}
.entry form {
  /* This is mainly for password protected posts, makes them look better. */

  text-align: center;
}
select {
  width: 130px;
}
#commentform input {
  width: 170px;
  padding: 2px;
  margin: 5px 5px 1px 0;
}
#commentform {
  margin: 5px 10px 0 0;
}
#commentform textarea {
  width: 100%;
  padding: 2px;
}
#respond:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#commentform #submit {
  margin: 0 0 5px auto;
  float: right;
}
/* End Form Elements */
/* Begin Comments*/
.alt {
  margin: 0;
  padding: 10px;
}
.commentlist {
  padding: 0;
  text-align: justify;
}
.commentlist li {
  margin: 15px 0 10px;
  padding: 5px 5px 10px 10px;
  list-style: none;
}
.commentlist li ul li {
  margin-right: -5px;
  margin-left: 10px;
}
.commentlist p {
  margin: 10px 5px 10px 0;
}
.children {
  padding: 0;
}
#commentform p {
  margin: 5px 0;
}
.nocomments {
  text-align: center;
  margin: 0;
  padding: 0;
}
.commentmetadata {
  margin: 0;
  display: block;
}
/* End Comments */
/* !Begin Sidebar */
#sidebar {
  padding: 0 0 0 20px;
  margin-left: 760px;
  /* 	border-left:#999 1px solid; */

  background: #fff;
}
#sidebar form {
  margin: 0;
}
/* End Sidebar */
/* Begin Calendar */
#wp-calendar {
  empty-cells: show;
  margin: 10px auto 0;
  width: 155px;
}
#wp-calendar #next a {
  padding-right: 10px;
  text-align: right;
}
#wp-calendar #prev a {
  padding-left: 10px;
  text-align: left;
}
#wp-calendar a {
  display: block;
}
#wp-calendar caption {
  text-align: center;
  width: 100%;
}
#wp-calendar td {
  padding: 3px 0;
  text-align: center;
}
#wp-calendar td.pad:hover {
  /* Doesn't work in IE */

  background-color: #fff;
}
/* End Calendar */
/* Begin Various Tags & Classes */
acronym,
abbr,
span.caps {
  cursor: help;
}
acronym,
abbr {
  border-bottom: 1px dashed #999;
}
blockquote {
  margin: 15px 30px 0 10px;
  padding-left: 20px;
  border-left: 5px solid #ddd;
}
blockquote cite {
  margin: 5px 0 0;
  display: block;
}
.center {
  text-align: center;
}
.hidden {
  display: none;
}
.screen-reader-text {
  position: absolute;
  left: -1000em;
}
hr {
  display: none;
}
a img {
  border: none;
}
.navigation {
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 60px;
}
/* End Various Tags & Classes*/
/* Captions */
.aligncenter,
div.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption {
  border: 1px solid #ddd;
  text-align: center;
  background-color: #f3f3f3;
  padding-top: 4px;
  margin: 10px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.wp-caption img {
  margin: 0;
  padding: 0;
  border: 0 none;
}
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  padding: 0 4px 5px;
  margin: 0;
}
/* End captions */
/* Image Widget */
#sidebar li.widget_sp_image {
  padding-bottom: 0px;
}
.widget_sp_image img {
  border: 1px gray solid;
  padding: 3px;
}
.widget_sp_image-description {
  text-align: center;
  margin-top: 10px;
}
#founder {
  font-style: italic;
}
/* End Image Widget */
/* Don-Downey.com Styles */
.scrollbarMod {
  /* Let's get this party started */

  /* Track */

  /* Handle */

  /* The thumb itself */

  /* Turn on single button up on top, and down on bottom */

  /* Place The scroll up button at the top */

  /* Place The scroll up button at the top */

  /* Place The scroll down button at the bottom */

}
.scrollbarMod ::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}
.scrollbarMod ::-webkit-scrollbar-track {
  /* 		    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  */

  /* 		    -webkit-border-radius: 10px; */

  /* 		    border-radius: 10px; */

}
.scrollbarMod ::-webkit-scrollbar-thumb {
  /* 		    -webkit-border-radius: 0; */

  /* 		    border-radius: 0px; */

  background: transparent;
  /* 		    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */

}
.scrollbarMod ::-webkit-scrollbar-thumb:vertical {
  background-image: url(images/scroll_thumb.png);
}
.scrollbarMod ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.4);
}
.scrollbarMod ::-webkit-scrollbar-button:start:decrement,
.scrollbarMod ::-webkit-scrollbar-button:end:increment {
  display: inline;
}
.scrollbarMod ::-webkit-scrollbar-button:vertical:decrement {
  background-image: url(images/scroll_cntrl_up.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 20px;
}
.scrollbarMod ::-webkit-scrollbar-button:start:decrement {
  background-image: url(images/scroll_cntrl_up.png);
}
.scrollbarMod ::-webkit-scrollbar-button:end:increment {
  background-image: url(images/scroll_cntrl_down.png);
}
.gillSansItalic p {
  color: white;
  font-style: italic;
  letter-spacing: 5px;
  font-family: "Gill Sans", "Helvetica Neue", Helvetica, Arial, serif;
}
/* body {.scrollbarMod;} */
#page {
  margin: 0 auto;
  padding: 0;
  width: 1060px;
}
.scrollingEntry {
  width: 800px;
  height: 300px;
  overflow-y: auto;
  padding: 0px 25px;
  position: relative;
}
.scroll-container {
  width: 850px;
  margin: auto;
}
.non-webkit .entry {
  margin-right: 20px;
}
.webkit .entry {
  margin: auto;
}
.page_header {
  width: 100%;
  height: 160px;
  display: block;
  margin: 12px 0px 40px;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
}
.page_header .header_link {
  border: none;
  width: 1060px;
  height: 160px;
  text-indent: -9999px;
  text-decoration: none;
  position: absolute;
  left: 0;
  top: 0;
}
.page_header .header_link_hover {
  background-position: 0 -160px;
  background-repeat: no-repeat;
}
.film_header a {
  background: url('images/header.film.png');
}
#trailers_subheader {
  text-indent: 0px;
  height: 40px;
  font-size: 30pt;
  line-height: 30pt;
  position: relative;
  margin-top: 0px;
  cursor: default;
}
#trailers_subheader .header_char {
  cursor: default;
}
#trailers_subheader .last_char {
  position: absolute;
  right: 0;
}
.poetry_header a {
  background: url('images/header.poetry.png');
}
.fiction_header a {
  background: url('images/header.fiction.png');
}
.profile_header a {
  background: url('images/header.profile.png');
}
.contact_header a {
  background: url('images/header.contact.png');
}
.header_char {
  float: left;
  cursor: pointer;
}
.header_char.active {
  background: white;
}
a:link,
a:visited {
  color: white;
  text-decoration: none;
  border-bottom: 1px dotted white;
}
a:hover {
  color: black;
}
#home_body {
  background: #fb4023;
}
#home_body #homePage_image {
  margin-top: 20%;
}
#home_body #content {
  color: white;
  letter-spacing: 1px;
}
#home_body #footer {
  background: #fb4023;
}
#home_body #footer #navigation a:link,
#home_body #footer #navigation a:visited {
  color: black;
}
#film_body {
  background: #f3a135;
}
#film_body #footer {
  background: #f3a135;
}
#film_body #film_thumbs {
  float: left;
}
#film_body #film_thumbs a {
  border: none;
  height: 135px;
  width: 230px;
  position: absolute;
}
#film_body #film_thumbs p {
  margin: 0;
}
#film_body .vimeo_thumb {
  height: 135px;
  width: 230px;
  position: absolute;
  top: 0;
  cursor: pointer;
}
#film_body .fancybox {
  background: url('images/film.overlay.png') no-repeat 0 -130px;
  text-indent: -9999px;
}
#film_body .entry {
  position: relative;
}
#film_body .post {
  float: left;
  width: 230px;
  /* height:300px; */
  overflow-y: hidden;
  position: relative;
  padding-bottom: 1em;
  /* 		h2 {color:white;font-weight: normal;font-size:12pt;font-style: italic;} */

}
#film_body .post .overlay_arrow {
  position: absolute;
  top: 0;
  left: 0;
}
#film_body .thumb_first {
  padding-right: 2px;
}
#film_body .thumb_middle {
  padding-left: 46px;
}
#film_body .thumb_last {
  padding-left: 46px;
}
#film_body .the_title {
  color: white;
  font-weight: normal;
  font-size: 12pt;
  font-style: italic;
  margin-bottom: .5em;
}
#film_body .the_content {
  /* position: absolute; */
  padding-top: 125px;
  line-height: 17px;
}
#poetry_body {
  background: #1ac1d4;
  color: white;
}
#poetry_body h1,
#poetry_body h2,
#poetry_body h3 {
  font-family: "Gill Sans", "Helvetica Neue", Helvetica, Arial, serif;
  margin-bottom: .5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.6em;
}
#poetry_body .scroll-container {
  width: 760px;
}
#poetry_body p {
  margin: 0;
}
#poetry_body .post {
  margin-top: 12px;
}
#poetry_body .entry {
  width: 800px;
  height: 300px;
  overflow-y: auto;
  padding: 0px 25px;
  position: relative;
  width: 660px;
}
#poetry_body .slider-wrap {
  right: 0px;
}
#poetry_body #footer {
  background: #1ac1d4;
}
#fiction_body {
  background: #176942;
  color: white;
  letter-spacing: 3px;
  font-family: "Gill Sans", "Helvetica Neue", Helvetica, Arial, serif;
}
#fiction_body #footer {
  background: #176942;
}
#fiction_body .entry {
  text-align: center;
}
#fiction_body h1 {
  font-size: 1em;
}
#fiction_body p {
  text-indent: 50px;
}
#profile_body {
  background: #f5b5b5;
}
#profile_body #footer {
  background: #f5b5b5;
}
#contact_body {
  background: #7a1f21;
  line-height: 1.8em;
}
#contact_body #footer {
  background: #7a1f21;
}
#contact_body p {
  color: white;
  letter-spacing: 5px;
  font-family: "Gill Sans", "Helvetica Neue", Helvetica, Arial, serif;
}
#footer #navigation #main {
  font-size: 3.5em;
  letter-spacing: 9px;
}
#footer #navigation #main ul {
  line-height: 30pt;
  margin: 0;
  padding: 0;
  text-align: left;
  /* position: relative; */
}
#footer #navigation #main li {
  list-style: none;
  text-transform: uppercase;
  /* 		position:absolute; */

}
#footer #navigation #main .footer_last_char {
  letter-spacing: 0;
}
#footer #navigation #main .film_footer_link .unique_char,
#footer #navigation #main .film_footer_link a:hover {
  color: #f3a135;
}
#footer #navigation #main .poetry_footer_link .unique_char,
#footer #navigation #main .poetry_footer_link a:hover {
  color: #1ac1d4;
}
#footer #navigation #main .fiction_footer_link .unique_char,
#footer #navigation #main .fiction_footer_link a:hover {
  color: #176942;
}
#footer #navigation #main .profile_footer_link .unique_char,
#footer #navigation #main .profile_footer_link a:hover {
  color: #f5b5b5;
}
#footer #navigation #main .contact_footer_link .unique_char,
#footer #navigation #main .contact_footer_link a:hover {
  color: #7a1f21;
}
#footer #navigation #main a {
  color: white;
}
/* Scrollbar styles */
.scroll-content {
  position: absolute;
  top: 0;
  left: 0;
  margin-right: 20px;
}
.slider-wrap {
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.3);
  width: 12px;
}
.slider-wrap a:link,
.slider-wrap a:visited {
  border: 0;
  text-decoration: none;
}
.slider-vertical {
  position: relative;
  height: 100%;
}
.ui-slider-handle {
  background-color: white;
  width: 100%;
  height: 20px;
  margin: 0 auto;
  display: block;
  position: absolute;
}
.ui-slider-handle:focus {
  outline: 0;
}
.ui-slider-handle img {
  border: none;
}
.scrollbar-top {
  position: absolute;
  top: 0;
}
.scrollbar-bottom {
  position: absolute;
  bottom: 0;
}
.scrollbar-grip {
  position: absolute;
  top: 50%;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
